@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(26, 104, 207) rgb(69, 74, 74);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(69, 74, 74);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(15, 135, 214);
  border-radius: 50%;
  border: 3px solid rgb(69, 74, 74);
}

::-webkit-scrollbar-thumb {
  animation: scroll-animation 5s infinite;
}

@keyframes scroll-animation {
  0% {
    background-color: #111111;
  }

  50% {
    background-color: #555;
  }

  100% {
    background-color: #888a88;
  }
}